.theme-dark {
    --size-main-text: 18px;
    --color-main-background: #000028;
    --color-main-text: #F1B2CE;
    --color-h1-text: #DB00FF;
    --color-h2-text: #FF0070;
    --color-subtitle-text: #000028;
    --color-highlite: #FF0070;
    --color-focus: #FF0070;
    --color-shadow: #FF0070;
}

.theme-dark .header {
    background-image: url("../images/cover-image-dark.png");
}

.theme-dark .rec-label {
    color: var(--color-focus);
}

.theme-dark .rec-label::after {
    background-color: var(--color-focus);
    box-shadow: 0 0 4px 2px var(--color-focus);
}

@media (prefers-color-scheme: dark) {
    :root:not(.theme-light) {
        --size-main-text: 18px;
        --color-main-background: #000028;
        --color-main-text: #F1B2CE;
        --color-h1-text: #DB00FF;
        --color-h2-text: #FF0070;
        --color-subtitle-text: #000028;
        --color-highlite: #FF0070;
        --color-focus: #FF0070;
        --color-shadow: #FF0070;
    }

    :root:not(.theme-light) .header {
        background-image: url("../images/cover-image-dark.png");
    }
}