.theme-light {
    --color-main-background: #FFF1F7;
    --color-main-text: #353430;
    --color-h1-text: #FFC2E6;
    --color-h2-text: #353430;
    --color-subtitle-text: #353430;
    --color-highlite: #FF8DCB;
    --color-focus: #FF8DCB;
    --color-shadow: #FF8DCB;
}

.theme-light .header {
    background-image: url("../images/cover-image-light.png");
}

.theme-light .rec-label {
    color: transparent;
}

.theme-light .rec-label::after {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root:not(.theme-dark) {
        --color-main-background: #FFF1F7;
        --color-main-text: #353430;
        --color-h1-text: #FFC2E6;
        --color-h2-text: #353430;
        --color-subtitle-text: #353430;
        --color-highlite: #FF8DCB;
        --color-focus: #FF8DCB;
        --color-shadow: #FF8DCB;
    }

    :root:not(.theme-dark) .header {
        background-image: url("../images/cover-image-light.png");
    }
}