body {
    background-color: var(--color-main-background);
    font-family: 'IBM Plex Mono', monospace;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rec-label {
    position: absolute;
    top: 10px;
    right: 38px;
    text-align: center;
    font-weight: 400;
    font-size: var(--size-main-text);
    line-height: 25px;
    color: var(--color-focus);
}

.rec-label::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -28px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--color-h2-text);
    border-right: 1px solid var(--color-h2-text);
}

.rec-label::after {
    content: "";
    position: absolute;
    top: 8px;
    border-radius: 50%;
    right: -19px;
    height: 9px;
    width: 9px;
    background-color: var(--color-focus);
    box-shadow: 0 0 4px 2px var(--color-focus);
}

.header__theme-menu {
    position: absolute;
    right: 10px;
    top: 75px;
}

.header__theme-menu-button {
    background: none;
    border: 1.5px solid transparent;
    color: var(--color-h2-text);
    font-weight: 400;
    font-size: var(--size-main-text);
    line-height: 18px;
    text-align: center;
    padding: 6.5px 13px;
}

.header__theme-menu-button_active {
    border-color: var(--color-h2-text);
    border-width: 1.5px;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--color-h2-text);
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--color-h2-text);
}

.header__title {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 116px;
    line-height: 83%;
    color: var(--color-h1-text);
    white-space: wrap;
    text-shadow: 4px 4px var(--color-shadow);
}

.header__text-box {
    width: auto;
    position: absolute;
    bottom: 66px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--color-focus);
}

.header__subtitle {
    font-weight: 700;
    font-size: var(--size-main-text);
    line-height: 23.4px;
    color: var(--color-subtitle-text);
}

.corner-bottom-left {
    position: absolute;
    height: 25px;
    bottom: 10px;
    left: 10px;
    width: 25px;
    border-bottom: 1px solid var(--color-h2-text);
    border-left: 1px solid var(--color-h2-text);
}

.corner-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--color-h2-text);
    border-right: 1px solid var(--color-h2-text);
}

.main {
    background-color: var(--color-main-background);
    width: 100%;
}

.content-section {
    margin: 40px 10px 50px;
}

.content-section__title {
    font-size: var(--size-main-text);
    font-weight: 700;
    line-height: 23.4px;
    color: var(--color-h2-text);
    margin-bottom: 20px;
}

.content-section__text-block {
    margin-bottom: 20px;
}

.content-section__heading {
    background-color: var(--color-focus);
    font-weight: 700;
    font-size: var(--size-main-text);
    line-height: 23.4px;
    color: var(--color-subtitle-text);
    margin-bottom: 10px;
    padding: 0;
}

.no_bold {
    font-weight: 400;
}

.content-section__subtitle {
    background-color: var(--color-focus);
    font-weight: 700;
    font-size: var(--size-main-text);
    line-height: 23.4px;
    color: var(--color-subtitle-text);
    margin-bottom: 20px;
}

.content-section__paragraph {
    font-weight: 400;
    font-size: var(--size-main-text);
    line-height: 23.4px;
    color: var(--color-main-text);
}

.reasons-section {
    margin-left: 10px;
    margin-bottom: 50px;
}

.reasons-section__title {
    font-size: var(--size-main-text);
    font-weight: 700;
    line-height: 23.4px;
    color: var(--color-h2-text);
    margin-bottom: 20px;
}

.reason-card {
    margin-bottom: 20px;
}

.reason-card__title {
    background-color: var(--color-focus);
    font-weight: 700;
    font-size: var(--size-main-text);
    line-height: 23.4px;
    color: var(--color-subtitle-text);
    margin-bottom: 10px;
}

.reason-card__text {
    font-weight: 400;
    font-size: var(--size-main-text);
    line-height: 23.4px;
    color: var(--color-main-text);
    margin: 0;
}

.gallery-section {
    margin-left: 50px;
    margin-right: 50px;
}

.gallery-section__title {
    background-color: var(--color-focus);
    font-weight: 700;
    font-size: var(--size-main-text);
    line-height: 23.4px;
    color: var(--color-subtitle-text);
    margin-bottom: 10px;
}

.gallery__image {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

.footer {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 668px;
    background-color: var(--color-main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.footer__title {
    font-weight: 700;
    font-size: 116px;
    line-height: 83%;
    color: var(--color-h1-text);
    text-shadow: 4px 4px var(--color-shadow);
    margin: 0;
}

@media (min-width: 768px) {
    .rec-label {
        top: 20px;
        right: 48px;
    }

    .header__theme-menu {
        top: 192px;
        right: 20px;
    }

    .header__title {
        left: 20px;
        font-size: 120px;
    }

    .header__text-box {
        right: 20px;
        bottom: 183px;
        width: 364px;
        left: auto;
    }

    .corner-bottom-left {
        bottom: 20px;
        left: 20px;
    }

    .content-section {
        margin: 60px 20px 80px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .content-section__title {
        margin: 0;
    }

    .content-section__text-block {
        grid-column: 2;
        margin-bottom: 0;
    }

    .content-section__heading {
        margin-bottom: 10px;
    }

    .reasons-section {
        margin: 0 20px 80px;
    }

    .reasons-section__title {
        width: 236px;
    }

    .gallery-section {
        margin: 80px 20px 60px;
    }

    .gallery {
        height: 823px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "img1 img1 img2"
            "img3 img4 img2"
            "img3 img5 img5"
            "img3 img5 img5";
        gap: 20px;
        overflow: clip;
    }

    .gallery__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        margin: 0;
        overflow: clip;
    }

    .gallery__image:nth-child(1) {
        grid-area: img1;
    }

    .gallery__image:nth-child(2) {
        grid-area: img2;
    }

    .gallery__image:nth-child(3) {
        grid-area: img3;
    }

    .gallery__image:nth-child(4) {
        grid-area: img4;
    }

    .gallery__image:nth-child(5) {
        grid-area: img5;
    }

    .footer {
        margin-top: 60px;
    }
}

@media (min-width: 1024px) {
    .header__theme-menu {
        top: 20px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .header__theme-menu-list {
        display: flex;
        gap: 10px;
    }

    .header__theme-menu-item {
        margin-bottom: 0;
    }

    .header__theme-menu-button {
        padding: 1.5px 13px;
    }

    .header__title {
        font-size: 157px;
    }

    .header__text-box {
        width: 491px;
        bottom: 134px;
    }

    .reasons-section__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .reason-card {
        margin-bottom: 0;
    }

    .reasons-section__title {
        width: 315px;
    }

    .gallery {
        height: 1048px;
    }

    .footer__title {
        font-size: 157px;
    }
}

.page {
    background-attachment: fixed
}